<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Trader</title>
</head>
<body>

    <div>
        <h3>{text_to_display}</h3>
        <form action="/" method="post">
            <input name="user_inp" placeholder="User Input" type="text">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        <h3>  </h3>
        <h3>============================================================</h3>
        <h3>  </h3>
    </div>

    <div>
        <h3>{msg_to_show}</h3>
    </div>

    <div>
        <h3>  </h3>
        <h3>============================================================</h3>
        <h3>  </h3>
    </div>

    <div>
        <h3>Stock and Number of Shares</h3>
        <form action="/" method="post">
            <input name="stock" placeholder="Ticker or Name" type="text">
            <input name="shares" placeholder="Shares" type="number">
            <input type="submit">
        </form>
    </div>
</body>
</html>