<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal Trader</title>
</head>
    <body>
        <form action="/Trade" method="post">
            <h3>{{ buy_sell }} Stock</h3>
            <br>
            <input name="shares" placeholder="Number of Shares" type="number">
            <input name="stock_to_trade" placeholder="Ticker or Company" type="text">
            <input type="submit" value="Submit">
            <input type="hidden" name="login_id" value="{{ login_id }}">
            <input type="hidden" name="trade_direction" value="{{ buy_sell }}">
        </form>
    </body>
</html>